body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 71px;
}

.logo {
  height: 45px;
}

.active {
  font-weight: 700;
}

.shadow {
  box-shadow: 0 0 10px rgba(54, 123, 146, 0.1);
}

.bg-teal,
nav {
  background-color: #c1f3f4;
}

body[data-bs-theme="dark"],
body[data-bs-theme="dark"] .banner-content {
  background-color: #223d43;
  color: white;
}

body[data-bs-theme="light"],
body[data-bs-theme="light"] .banner-content {
  background-color: #eeeeee;
  color: black;
}

body[data-bs-theme="light"] .banner-content {
  background-color: #c1f3f4;
  color: black;
}

body[data-bs-theme="light"] .btn-primary {
  background-color: #223d43;
  color: white;
  border-color: #223d43;
}

body[data-bs-theme="dark"] .btn-primary {
  background-color: #c1f3f4;
  color: black;
  border-color: #c1f3f4;
}

body[data-bs-theme="light"] #theme:hover,
body[data-bs-theme="light"] #search:hover {
  color: #eeeeee;
}
body[data-session="false"] [data-in-session="false"],
body[data-session="true"] [data-in-session="true"] {
  display: block;
}

body[data-session="false"] [data-in-session="true"],
body[data-session="true"] [data-in-session="false"] {
  display: none;
}

.banner {
  background-image: url("/src/assets/images/AI-sunset-beach-properties.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.card-title,
.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-title {
  -webkit-line-clamp: 2;
}

.card-img-top-marker,
.card-img-top {
  height: 300px;
  object-fit: cover;
  max-height: 100%;
}

.card-img-top-marker {
  height: 200px;
  width: 100%;
}

.leaflet-popup-content {
  margin: 0;
  line-height: 1;
  font-size: 14px;
  font-size: 1.08333em;
  min-height: 1px;
}

.leaflet-popup-content-wrapper {
  padding: 0;
  overflow: hidden;
}

.leaflet-popup-content-wrapper .card-body {
  width: 260px;
}

.leaflet-container a.leaflet-popup-close-button {
  color: white;
  background-color: rgb(34, 61, 67, 0.5);
  border: white solid 1px;
  border-radius: 50%;
  margin: 5px;
}
